/* global styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* header styles */
header {
	background-color: #3cff00;
	color: #e600ff;
	padding: 20px;
}

header h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

/* main styles */
main {
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

section h2 {
	margin-top: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* footer styles */
footer {
	background-color: #000000;
	color: #fff;
	padding: 10px;
	text-align: center;
}
